.title{
    width: 543px;
height: 67px;
top: 70px;
left: 449px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 67px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1B3C74;

}